@keyframes fade-in {
from { opacity: 0; }
to { opacity: 1; }
}


@keyframes slide-in-left {
from { opacity: 0; transform: translateX(-10px); }
to { opacity: 1; transform: translateX(0); }
}


@keyframes slide-in-right {
from { opacity: 0; transform: translateX(10px); }
to { opacity: 1; transform: translateX(0); }
}


@keyframes pulse {
0%, 100% { opacity: 1; }
50% { opacity: 0.4; }
}


@keyframes spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}


@keyframes l3 {
25% { background-position: 0 0, 100% 100%, 100% calc(100% - 4px); }
50% { background-position: 0 100%, 100% 100%, 0 calc(100% - 4px); }
75% { background-position: 0 100%, 100% 0, 100% 4px; }
}