@import "./_variables.css";
@import "./_base.css";
@import "./_animations.css";
@import "./header.css";
@import "./chat.css";
@import "./message.css";
@import "./markdown.css";
@import "./loading.css";
@import "./footer.css";
@import "./responsive.css";
@import "./login.css";

html,
body {
  height: 100%;
  overflow: hidden;
}