@media (max-width: 900px) {
:root {
--max-width: 56rem;
}


.markdown-body {
font-size: 1.05rem;
}


header {
padding: 1rem;
}


main {
padding: 1.5rem 1rem;
}


.message-wrapper {
padding: 1.25rem 1rem;
}
}


@media (max-width: 600px) {
.header-text h1 {
font-size: 1.2rem;
}


.header-text p {
font-size: 0.8rem;
}


.input-container {
padding: 0 0.5rem;
}


footer input[type="text"] {
font-size: 0.95rem;
padding: 0.75rem 1rem;
}


footer button {
padding: 0.7rem 1.2rem;
}
}